<div class="grid-container padding-0 margin-bottom-3">
  <div class="grid-row flex-align-end" style="justify-content: space-between">
    <div class="tablet:grid-col-6">
      <h1 class="margin-0 font-family-sans">Non-Availability Waivers</h1>
      <p class="margin-0 margin-0 font-sans-sm">
        Waivers reviewed by Made in America Office.
      </p>
    </div>
    <usa-search
      [size]="'small'"
      placeholder="Search Waivers"
      class="flex-align-end"
      (searchTextChange)="onSearchChange($event)"
    ></usa-search>
    <uswds-dropdown
      [id]="'dropdown1'"
      [label]="'Sort By'"
      [options]="dropdownOptions"
      (optionChange)="onSortChange($event)"
    >
    </uswds-dropdown>
  </div>
</div>
<div class="grid-container padding-0 margin-bottom-3">
  <search-result *ngFor="let val of data"></search-result>
  <usa-pagination [current]='current' [last]='last'></usa-pagination>
</div>
