<div class="grid-container padding-0 margin-bottom-3">
  <div class="grid-row flex-align-end" style="justify-content: space-between">
    <div class="tablet:grid-col-6">
      <h1 class="margin-0 font-family-sans">Non-Availability Waivers</h1>
      <p class="margin-0 margin-0 font-sans-sm">
        Waivers reviewed by Made in America Office.
      </p>
    </div>
    <uswds-dropdown
      [id]="'filtering'"
      [label]="'Filter By Status'"
      [options]="filterOptions"
      (optionChange)="onFilterChange($event)"
    >
    </uswds-dropdown>
    <uswds-dropdown
      [id]="'sorting'"
      [label]="'Sort By'"
      [options]="sortOptions"
      (optionChange)="onSortChange($event)"
    >
    </uswds-dropdown>
  </div>
</div>
<div class="grid-container padding-0 margin-bottom-3">
  <search-result *ngFor="let val of displayedData" [data]="val"></search-result>
  <usa-pagination
    [current]="current"
    [last]="last"
    *ngIf="last > 1"
    (movePage)="movePage($event)"
  ></usa-pagination>
</div>
