<section>
  <div class="grid-container usa-section">
  <h2 class="font-heading-2xl font-family-sans text-primary-dark text-center">
    Doing Business with the Government
  </h2>
  <ul class="usa-card-group">
    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container radius-sm border-base-lightest">
        <header class="usa-card__header">
          <h3 class="usa-card__heading font-family-sans text-primary">Become a federal contractor</h3>
        </header>
        <div class="usa-card__media">
          <div class="usa-card__img radius-top-sm padding-6 minh-card">
            {% asset sba-logo.png alt="sba mark" %}
          </div>
        </div>
        <div class="usa-card__body">
          <p>
            The federal government encourages small businesses to take on contracting opportunities. The process to register as a federal contractor is more straightforward than most people think. The Small Business Administration's (SBA.gov) website has more information.
          </p>
        </div>
        <div class="usa-card__footer">
          <a class="usa-button usa-button--outline" style="width: 100%;" href="https://sba.gov">Vist SBA.gov</a>
        </div>
      </div>
    </li>
    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container radius-sm border-base-lightest">
        <header class="usa-card__header">
          <h3 class="usa-card__heading font-family-sans text-primary">Register your business</h3>
        </header>
        <div class="usa-card__media">
          <div class="usa-card__img radius-top-sm padding-6 minh-card">
            {% asset sam-gov-logo.png alt="sam gov mark" %}
          </div>
        </div>
        <div class="usa-card__body">
          <p>
            The System for Award Management (SAM.gov) is an official website of the U.S. Government. There is no cost to use SAM.gov. You can use this site to:
          </p>
          <ul>
            <li>Register to do business with the U.S. Government</li>
            <li>Update, renew, or check the status of your entity registration</li>
            <li>Search for entity registration and exclusion records</li>
          </ul>
        </div>
        <div class="usa-card__footer">
          <a class="usa-button usa-button--outline" style="width: 100%;" href="https://SAM.gov">Visit SAM.gov</a>
        </div>
      </div>
    </li>
    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container radius-sm border-base-lightest">
        <header class="usa-card__header">
          <h3 class="usa-card__heading font-family-sans text-primary">How to get started with GSA Schedules</h3>
        </header>
        <div class="usa-card__media">
          <div class="usa-card__img radius-top-sm padding-5 minh-card">
            {% asset gsa-logo.png alt="gsa blue block" %}
          </div>
        </div>
        <div class="usa-card__body">
          <p>
            Although the GSA Schedules program is the premier vehicle for government sales, including federal, state, and local government agencies, it is not the only option. Getting a Multiple Award Schedule (MAS) or Schedule contract does not guarantee business with the government.
          </p>
        </div>
        <div class="usa-card__footer">
          <a class="usa-button usa-button--outline" style="width: 100%;" href="https://www.gsa.gov/buying-selling/getting-started-with-gsa-purchasing-programs">Vist SBA.gov</a>
        </div>
      </div>
    </li>
  </ul>
</section>
