<div class="grid-container usa-section">
  <div class="usa-summary-box bg-primary-lighter" role="region">
    <div class="usa-summary-box__body grid-row flex-row flex-wrap">
      <div class="usa-summary-box__text grid-col">
        <h2 class="text-primary">Contact Us</h2>
        <h3 class="text-normal">
          Questions? Contact Us.
        </h3>
      </div>
      <div class="grid-col">
        <a class="usa-button float-right" href="mailto:MadeInAmerica@omb.eop.gov">Send Email</a>
      </div>
    </div>
  </div>
</div>
