<section class="bg-primary-darker">
  <div class="grid-container usa-section">
  <div class="grid-row grid-gap">
      <div class="tablet:grid-col-7 text-base-lightest">
        <h2 class="font-heading-2xl font-family-sans">Frequently Asked Questions</h2>
        <div class="usa-accordion" aria-multiselectable="true">
          <!-- start accordion item -->
          <h4 class="usa-accordion__heading">
            <button
              class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="m-a1"
            >
              Where can I go to find out more about getting a government contract to offer these products?
            </button>
          </h4>
          <div id="m-a1" class="usa-accordion__content usa-prose bg-primary-darker text-base-lightest">
            <p>
              The new Made in America initiative is the result of a Presidential Executive order signed January 25, 2021.  This order created a new OMB office, a requirement for agencies to submit waivers prior to making final decisions to use waivers, and creation of a transparency site where such waivers could be found.
            </p>
            <a class="usa-button usa-button--outline usa-button--inverse">Learn More</a>
          </div>
          <!-- end accordion item -->
          <!-- start accordion item -->
          <h4 class="usa-accordion__heading">
            <button
              class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="m-a2"
            >
              What is the policy behind “Made in America”?
            </button>
          </h4>
          <div id="m-a2" class="usa-accordion__content usa-prose bg-primary-darker text-base-lightest">
            <p>
              ---
            </p>
            <a class="usa-button usa-button--outline usa-button--inverse">Learn More</a>
          </div>
          <!-- end accordion item -->
          <!-- start accordion item -->
          <h4 class="usa-accordion__heading">
            <button
              class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="m-a3"
            >
              Who do I contact if I want to make comments about a waiver?
            </button>
          </h4>
          <div id="m-a3" class="usa-accordion__content usa-prose bg-primary-darker text-base-lightest">
            <p>
              ---
            </p>
            <a class="usa-button usa-button--outline usa-button--inverse">Learn More</a>
          </div>
          <!-- end accordion item -->
        </div>
      </div>

      <div class="tablet:grid-col-5">
        {% asset faqs.jpg alt="young woman working in a studio" %}
      </div>
    </div>
  </div>
</section>
