<footer class="usa-footer site-footer" role="contentinfo">
      <div class="footer-section-bottom bg-base-lightest">
      <div class="grid-container">
        <div class="grid-row padding-3">
          <div class="tablet:grid-col">
            <h3>Our Website</h3>
            <ul class="add-list-reset">
              <li>
                <a href="/about/" class="usa-link">About This Site</a>
              </li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <h3>Policies</h3>
            <ul class="add-list-reset">
              <li>
                <a href="/policies/accessibility/" class="usa-link">Accessibility</a>
              </li>
              <li>
                <a href="/policies/foia/" class="usa-link">Freedom of Information Act</a>
              </li>
              <li>
                <a href="/policies/privacy/" class="usa-link">Privacy policy</a>
              </li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <h3>Customer Service</h3>
            <ul class="add-list-reset">
              <li>
                <a href="/customer-service/support/" class="usa-link">Government Customer Support</a>
              </li>
              <li>
                <a href="/customer-service/resources/" class="usa-link">External Resources</a>
              </li>
              <li><a href="/customer-service/contact/" class="usa-link">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-base-lighter">
    <section class="grid-container usa-section">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <a href="https://www.gsa.gov/" title="GSA" aria-label="GSA">{% asset gsa-logo.png alt="gsa blue block" %}</a>
          <span><b>General Services Administration</b></span>
        </div>
        <div class="tablet:grid-col-8">
          <p class="usa-prose">This is a U.S. General Services Administration Federal Government computer system that is <b>"FOR OFFICAL USE ONLY."</b> This system is subject to monitoring. Individuals found performing unauthorized activities are subject to disciplinary action including criminal prosecution.</p>
        </div>
      </div>
    </section>
    </div>
</footer>
