{% comment %} To modify the menu system, you are welcome to edit this HTML
directly or you can look inside _config.yml where we provide an easy way to
manage your navigation system {% endcomment %}

<header class="usa-header usa-header--extended" role="banner">
  <div
    class="usa-navbar padding-x-0 flex-align-center"
    style="display: flex; justify-content: space-between"
  >
    {% include logo.html %}
    <a
      class="mia-mobile-menu-btn desktop:display-none"
      href="{{ site.baseurl }}/waivers/"
      >View Waivers</a
    >
    <!-- DESKTOP -->
    <ul
      class="usa-nav__primary usa-accordion"
      style="display: flex; justify-content: end"
    >
      <li class="usa-nav__primary-item">
        <a href="/about/" class="usa-nav__link">
          <span>About</span>
        </a>
      </li>
      <li class="usa-nav__primary-item">
        <button
          class="usa-accordion__button usa-nav__link usa-current"
          aria-expanded="false"
          aria-controls="extended-nav-section-one"
        >
          <span>Waivers</span>
        </button>

        <ul id="extended-nav-section-one" class="usa-nav__submenu">
          <li class="usa-nav__submenu-item">
            <a href="{{ site.baseurl }}/waivers/"> Nonavailability Waivers </a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{{ site.baseurl }}/urgent/">Urgent Waivers</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
