<div
  class="usa-modal maxw-desktop"
  id="example-modal-1"
  aria-labelledby="modal-1-heading"
  aria-describedby="modal-1-description"
>
  <div class="usa-modal__content flex-column">
    <div class="usa-modal__main width-full">
      <h2
        class="usa-modal__heading text-primary-vivid font-sans-xl"
        id="modal-1-heading"
      >
        {{include.title}}
      </h2>
      <div class="text-base-darker font-sans-sm margin-bottom-2">
        <h3 class="margin-0">Procurement Synopsis</h3>
        <p class="margin-0">{{include.synopsis}}</p>
      </div>

      <div class="usa-prose grid-row flex-row text-base-darker font-sans-sm">
        <div class="margin-right-15">
          <div class="margin-bottom-2">
            <h3 class="margin-0">Contracting Office Agency ID</h3>
            <p class="margin-0">{{include.contracting_agency_id}}</p>
          </div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">Funding Agency ID</h3>
            <p class="margin-0">{{include.funding_agency_id}}</p>
          </div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">Procurement Stage</h3>
            <p class="margin-0">{{include.procurement_stage}}</p>
          </div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">
              North American Industry Classification (NAICS)
            </h3>
            <p class="margin-0">{{include.naics}}</p>
          </div class="margin-bottom-2">
          <div class="margin-bottom-2">
            <h3 class="margin-0">Period of Performance</h3>
            <p class="margin-0">{{include.period_of_performance}}</p>
          </div>
        </div>
        <div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">Contracting Office Agency Name</h3>
            <p class="margin-0">{{include.contracting_agency_name}}</p>
          </div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">Funding Agency Name</h3>
            <p class="margin-0">{{include.funding_agency_name}}</p>
          </div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">Solicitation ID</h3>
            <p class="margin-0">{{include.solicitation_id}}</p>
          </div>
          <div class="margin-bottom-2">
            <h3 class="margin-0">Product Service Code (PSC)</h3>
            <p class="margin-0">{{include.psc}}</p>
          </div>
        </div>
      </div>
      <div class="usa-modal__footer"></div>
    </div>
    <div class="bg-primary-lighter padding-4 radius-md grid-row flex-row">
      <div class="maxw-tablet">
        <h2 class="text-primary">
          Do you have products that make waivers unnecessary?
        </h2>
        <p>
          This site provides initial information on historical waivers as well
          as current waivers resulting from initial implementation of Made in
          America Executive Order. This site will evolve over the next few
          months to incorporate more information of use for both current and
          potential domestic suppliers.
        </p>
      </div>
      <div>
        <button class="usa-button" href="">Learn More</button>
      </div>
    </div>
  </div>
</div>
