<div
  class="usa-modal usa-modal--lg"
  id="{{include.id}}"
  aria-labelledby="{{include.id}}-heading"
>
  <div class="usa-modal__content padding-0">
    <div
      class="usa-modal__main"
      style="max-width: none;"
    >
      <h2
        class="font-sans-xl padding-x-4"
        id="{{include.id}}-heading"
      >
        {{include.title}}
      </h2>
      <div
        class="
          usa-prose
          padding-x-4
          text-base-darker
          font-sans-sm
          margin-bottom-2
        "
      >
        <div class="margin-0 font-sans-lg text-bold">Procurement Synopsis</div>
        <div class="margin-0 font-sans-xs">{{include.synopsis}}</div>

        <div
          class="grid-row flex-row text-base-darker font-sans-sm margin-top-4"
          style="justify-content: space-between"
        >
          <div class="tablet:grid-col-6">
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Contracting Office Agency ID</div>
              <p class="margin-0 font-sans-xs">{{include.contracting_agency_id}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Funding Agency ID</div>
              <p class="margin-0 font-sans-xs">{{include.funding_agency_id}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Procurement Stage</div>
              <p class="margin-0 font-sans-xs">{{include.procurement_stage}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">
                North American Industry Classification (NAICS)
              </div>
              <p class="margin-0 font-sans-xs text-bold">{{include.naics}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Period of Performance</div>
              <p class="margin-0 font-sans-xs">{{include.period_of_performance}}</p>
            </div>
          </div>
          <div class="tablet:grid-col-6">
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Contracting Office Agency Name</div>
              <p class="margin-0 font-sans-xs">{{include.contracting_agency_name}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Funding Agency Name</div>
              <p class="margin-0 font-sans-xs">{{include.funding_agency_name}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Solicitation ID</div>
              <p class="margin-0 font-sans-xs">{{include.solicitation_id}}</p>
            </div>
            <div class="margin-bottom-2">
              <div class="margin-0 font-sans-xs text-bold">Product Service Code (PSC)</div>
              <p class="margin-0 font-sans-xs">{{include.psc}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      class="usa-button usa-modal__close square-3 margin-right-4 margin-top-4"
      aria-label="Close this window"
      data-close-modal
    >
      {% asset close.svg alt="close icon" class="usa-icon" %}
    </button>
  </div>
</div>
