<div
  class="usa-modal usa-modal--lg"
  id="{{include.id}}"
  aria-labelledby="{{include.id}}-heading"
>
  <div class="usa-modal__content">
    <div
      class="usa-modal__main padding-0"
      style="max-width: none; padding-bottom: 0"
    >
      <h2
        class="text-primary-vivid font-sans-xl padding-x-4"
        id="{{include.id}}-heading"
      >
        {{include.title}}
      </h2>
      <div
        class="
          usa-prose
          padding-x-4
          text-base-darker
          font-sans-sm
          margin-bottom-2
        "
      >
        <h3 class="margin-0 font-sans-xs">Procurement Synopsis</h3>
        <p class="margin-0 font-sans-xs">{{include.synopsis}}</p>

        <div
          class="grid-row flex-row text-base-darker font-sans-sm"
          style="justify-content: space-between"
        >
          <div class="tablet:grid-col-6">
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Contracting Office Agency ID</h3>
              <p class="margin-0 font-sans-xs">{{include.contracting_agency_id}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Funding Agency ID</h3>
              <p class="margin-0 font-sans-xs">{{include.funding_agency_id}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Procurement Stage</h3>
              <p class="margin-0 font-sans-xs">{{include.procurement_stage}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">
                North American Industry Classification (NAICS)
              </h3>
              <p class="margin-0 font-sans-xs">{{include.naics}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Period of Performance</h3>
              <p class="margin-0 font-sans-xs">{{include.period_of_performance}}</p>
            </div>
          </div>
          <div class="tablet:grid-col-6">
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Contracting Office Agency Name</h3>
              <p class="margin-0 font-sans-xs">{{include.contracting_agency_name}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Funding Agency Name</h3>
              <p class="margin-0 font-sans-xs">{{include.funding_agency_name}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Solicitation ID</h3>
              <p class="margin-0 font-sans-xs">{{include.solicitation_id}}</p>
            </div>
            <div class="margin-bottom-2">
              <h3 class="margin-0 font-sans-xs">Product Service Code (PSC)</h3>
              <p class="margin-0 font-sans-xs">{{include.psc}}</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="
          usa-modal__footer
          bg-primary-lighter
          padding-4
          radius-md
          grid-row
          flex-row flex-align-center
        "
        style="justify-content: space-between"
      >
        <div class="maxw-tablet">
          <h2 class="text-primary text-light margin-0">
            Do you have products that make waivers unnecessary?
          </h2>
          <p class="margin-0">
            This site provides initial information on historical waivers as well
            as current waivers resulting from initial implementation of Made in
            America Executive Order. This site will evolve over the next few
            months to incorporate more information of use for both current and
            potential domestic suppliers.
          </p>
        </div>
        <button class="usa-button" href="">Learn More</button>
      </div>
    </div>

    <button
      class="usa-button usa-modal__close"
      aria-label="Close this window"
      data-close-modal
    >
      {% asset close.svg alt="close icon" class="usa-icon" %}
    </button>
  </div>
</div>
