<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="/about" {% if page.url == "/about/" %}class="usa-current"{% endif %}>Our Website</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="/about" {% if page.url == "/about/" %}class="usa-current"{% endif %}>About This Site</a>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav__item">
        {% assign policy_check = page.url | split:'/' %}
        <a href="/policies/accessibility" {% if policy_check[1] == "policies" %}class="usa-current"{% endif %}>Policies </a>

        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="/policies/accessibility" {% if page.url == "/policies/accessibility" %}class="usa-current"{% endif %}>Accessibility</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="/policies/foia" {% if page.url == "/policies/foia" %}class="usa-current"{% endif %}>Freedom of Information Act</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="/policies/privacy" {% if page.url == "/policies/privacy" %}class="usa-current"{% endif %}>Privacy</a>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav__item">
        <a href="/customer-service" {% if page.url == "/customer-service" %}class="usa-current"{% endif %}>Customer Service</a>
      </li>
    </ul>
  </nav>
</aside>
