<section class="grid-container usa-section">
  <div class="grid-row grid-gap text-base-darker" style="justify-content: space-between;">
    <div>
      <h1 class="font-heading-2xl font-family-sans margin-0 margin-bottom-1">Made in America.</h1>
      <h2 class="font-body-lg text-normal margin-0 ">When the U.S. government spends your tax dollars on American goods, we ensure our future is made in America.</h2>
      <p class="usa-prose">“Made in America” policies are designed to increase reliance on domestic supply chains and ultimately reduce the need to spend taxpayer dollars on foreign-made goods. The Made in America Office (MIAO) will ensure that any waivers from Made in America Laws apply clearly, consistently and transparently across federal agencies. The MIAO will analyze the information it gathers from waivers to support U.S. manufacturing and more resilient supply chains. By centralizing information on past and pending waivers, this site will provide relevant market intelligence to those interested in doing business with the U.S. government. We aim to help maximize opportunities for U.S. producers to supply goods and services to the U.S. Government.</p>
    </div>
  </div>
</section>
