<section class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-8">
      <h1 class="font-heading-2xl font-family-sans">Made in America</h1>
      <h2 class="font-body-lg text-normal">When the government spends your tax dollars on buying goods, they need to be American-made.</h2>
      <p class="usa-prose">“Made in America” is designed to increase reliance on domestic supply chains and reduce the need to buy from foreign suppliers using waivers from Made in America Laws.  Establishing a consistent process across agencies and gathering data on use of such waivers will support decision-making and a more resilient U.S. supply chain. Domestic producers, current or potential, can use this site to find information on what has been bought in the past using waivers and what is currently proposed for purchase under waivers.</p>
      <a class="usa-button" href="/">Get Started</a>
    </div>
    <div class="tablet:grid-col-4 padding-2 bg-base-lightest border-base-light radius-sm">
      <h2 class="margin-top-0 font-body-lg text-normal">Do you have products that make waivers unnecessary?</h2>
      <p class="usa-prose">This site provides initial information on historical waivers as well as current waivers resulting from initial implementation of Executive Order 14005: Ensuring the Future Is Made in All of America by All of America's Workers.  This site will evolve over the next few months to incorporate more information of use for both current and potential domestic suppliers.</p>
    </div>
  </div>
</section>
