<section class="grid-container usa-section">
  <div class="grid-row grid-gap text-base-darker">
    <div class="tablet:grid-col-8">
      <h1 class="font-heading-2xl font-family-sans">Made in America.</h1>
      <h2 class="font-body-lg text-normal">When the U.S. government spends your tax dollars on American goods, we ensure our future is made in America.</h2>
      <p class="usa-prose">“Made in America” policies are designed to increase reliance on domestic supply chains and ultimately reduce the need to spend taxpayer dollars on foreign-made goods. The Made in America Office (MIAO) will ensure that any waivers from Made in America Laws apply clearly, consistently and transparently across federal agencies. The MIAO will analyze the information it gathers from waivers to support U.S. manufacturing and more resilient supply chains. By centralizing information on past and pending waivers, this site will provide relevant market intelligence to those interested in doing business with the U.S. government. We aim to help maximize opportunities for U.S. producers to supply goods and services to the U.S. Government.</p>
      <a class="usa-button margin-bottom-4 width-auto" href="#gov-business">Get Started</a>
    </div>
    <div class="tablet:grid-col-4 margin-1 tablet:margin-0 padding-2 bg-base-lightest border-base-light radius-sm">
      <h2 class="margin-top-0 font-body-lg text-normal">Do you make or sell “Made in America” products that make existing waivers unnecessary?</h2>
      <p class="usa-prose">This site provides initial information on historical waivers as well as current waivers resulting from initial implementation of Executive Order 14005: <i>Ensuring the Future Is Made in All of America by All of America's Workers</i>. This site will evolve over the next few months to incorporate more information, so please check back often.</p>
    </div>
  </div>
</section>
