<!-- start accordion item -->
<div class="usa-accordion__heading waiver border border-base-lighter radius-sm">
  <button
    class="usa-accordion__button bg-transparent padding-x-6 padding-y-3 text-base-darker"
    aria-expanded="false"
    aria-controls="{{include.id}}"
  >
  <div class="grid-row flex-row flex-align-center">
    <div class="desktop:grid-col-4 margin-y-1">
      <p class="margin-0"><b>Procurement Title</b></p>
      <p class="margin-0 text-normal">{{ include.title }}</p>
    </div>
    <div class="desktop:grid-col-4 desktop:margin-right-4 margin-y-1 ">
      <p class="margin-0"><b>Contracting Department</b></p>
      <p class="margin-0 text-normal">{{ include.contracting_agency_name }}</p>
    </div>
    <div class="desktop:grid-col-3 margin-y-1">
      <p class="margin-0"><b>Product Service Code (PSC)</b></p>
      <p class="margin-0 text-normal">{{ include.psc }}</p>
    </div>
  </div>
  </button>
</div>
<div id="{{include.id}}" class="usa-accordion__content usa-prose border border-base-lighter radius-sm">
  <div class="usa-prose padding-x-4 text-base-darker font-sans-sm margin-bottom-2">
    <div class="margin-0 font-sans-lg text-bold">Summary of Procurement</div>
    <div class="margin-0 font-sans-xs">{{include.synopsis}}</div>

    <div
      class="grid-row flex-row text-base-darker font-sans-sm margin-top-4"
      style="justify-content: space-between"
    >
      <div class="tablet:grid-col-6 tablet:padding-right-4">
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Contracting Office Agency ID</div>
          <p class="margin-0 font-sans-xs">{{include.contracting_agency_id}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Funding Agency ID</div>
          <p class="margin-0 font-sans-xs">{{include.funding_agency_id}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Procurement Stage</div>
          <p class="margin-0 font-sans-xs">{{include.procurement_stage}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">
            North American Industry Classification System (NAICS)
          </div>
          <p class="margin-0 font-sans-xs">{{include.naics}}</p>
        </div>
         <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Was a sources sought or Request for Information issued?</div>
          <p class="margin-0 font-sans-xs">{{include.information_issued}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Did / Will the solicitation include one of the standard BAA provisions (e.g., 52-225-1, Buy American- Supplies, 52.225–9, Buy American—Construction Materials) announcing the agency’s intention to provide a price preference for domestic end products and construction material?</div>
          <p class="margin-0 font-sans-xs">{{include.standard_baa_provision}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Describe why competition was not conducted.</div>
          <p class="margin-0 font-sans-xs">{{include.why_not_conducted}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Waiver Coverage</div>
          <p class="margin-0 font-sans-xs">{{include.waiver_coverage}}</p>
        </div>
      </div>
      <div class="tablet:grid-col-6">
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Contracting Office Agency Name</div>
          <p class="margin-0 font-sans-xs">{{include.contracting_agency_name}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Funding Agency Name</div>
          <p class="margin-0 font-sans-xs">{{include.funding_agency_name}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Solicitation ID</div>
          <p class="margin-0 font-sans-xs">{{include.solicitation_id}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Expected Maximum Duration of the Requested Waiver</div>
          <p class="margin-0 font-sans-xs">{{include.maximum_duration}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Did you compete this opportunity?</div>
          <p class="margin-0 font-sans-xs">{{include.compete_opportunity}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">Describe why competition was not conducted.</div>
          <p class="margin-0 font-sans-xs">{{include.compete_opportunity}}</p>
        </div>
        <div class="margin-bottom-2">
          <div class="margin-0 font-sans-xs text-bold">OMB determination</div>
          <p class="margin-0 font-sans-xs">{{include.omb_determination}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end accordion item -->
