<section class="bg-primary-darker">
  <div class="grid-container usa-section">
  <div class="grid-row grid-gap">
      <div class="tablet:grid-col-7">
        {% asset waivers.png alt="collage of images" %}
      </div>
      <div class="tablet:grid-col-5 text-base-lightest">
        <h2 class="font-heading-2xl font-family-sans">Waivers</h2>
        <h3 class="font-body-lg text-normal">Waivers to Support Agency Missions for the American Public</h3>
        <p class="usa-prose">arious laws and regulations outline requirements for U.S. Government procurements to support American manufacturing.  Exceptions to these laws and regulations can be made when certain conditions are met and the request for a waiver documents these analyses.</p>
        <a class="usa-button" href="/">Learn More</a>
      </div>
    </div>
  </div>
</section>
