<li
  class="
    grid-row
    flex-row flex-align-center
    padding-2
    margin-y-105
    border border-base-lighter
    radius-sm
    text-base-darker
  "
  style="justify-content: space-between; max-width: none"
>
  <div class="tablet:grid-col-3 ">
    <h3 class="margin-0">Procurrement Title</h3>
    <p class="margin-0 text-primary-vivid">{{ include.title }}</p>
  </div>
  <div class="tablet:grid-col-3 ">
    <h3 class="margin-0">Contracting Department</h3>
    <p class="margin-0">{{ include.contracting_agency_name }}</p>
  </div>
  <div class="tablet:grid-col-3 ">
    <h3 class="margin-0">Product Service Code (PSC)</h3>
    <p class="margin-0">{{ include.psc }}</p>
  </div>

  <a
    href={{include.id}}
    class="usa-button usa-button--outline margin-0 tablet:grid-col-2"
    aria-controls={{include.id}}
    data-open-modal
    >View More</a
  >
  {% include modal.html id=include.id title=include.title synopsis=include.synopsis
  contracting_agency_name=include.contracting_agency_name
  funding_agency_id=include.funding_agency_id
  funding_agency_name=include.funding_agency_name
  procurement_stage=include.procurement_stage naics=include.naics
  solicitation_id=include.solicitation_id psc=include.psc
  period_of_performance=include.period_of_performance %}
</li>
