<nav aria-label="Pagination" class="usa-pagination">
  <ul class="usa-pagination__list">
    <!-- Hide when current == 1 -->
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="Previous page"
        [attr.disabled]="current === 1 ? true : null"
        (click)="goTo(current - 1)"
      >
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
        </svg>

        <span class="usa-pagination__link-text"> Previous </span>
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 1"
        [ngClass]="{ 'usa-current': current === 1 }"
        (click)="goTo(1)"
      >
        1
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
      [ngClass]="{ 'display-none': current <= 3 }"
    >
      <span> … </span>
    </li>

    <li
      class="usa-pagination__item usa-pagination__page-no"
      *ngFor="let index of renderedButtons"
    >
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 1"
        [ngClass]="{ 'usa-current': current === index }"
        [attr.aria-current]="current === index ? 'page' : null"
        (click)="goTo(index)"
      >
        {{ index }}
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
      [ngClass]="{ 'display-none': current >= last - 2 }"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Last page, page 24"
        [ngClass]="{ 'usa-current': current === last }"
        (click)="goTo(last)"
      >
        {{ last }}
      </a>
    </li>

    <!-- Hide when current == last -->
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Next page"
        [attr.disabled]="current === last ? true : null"
        (click)="goTo(current + 1)"
      >
        <span class="usa-pagination__link-text"> Next </span>

        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
